.a{
  width:30%;
  height: 200px;
  background-color: red;
  float: left;
}
.b{
  height: 30%;
  width: 33px;
  float: left;
  margin: 5%;
  background-color:red;
}

.c{
  height: 200px;
  width: 25%;
  float: left;
  background-color: green;
}
