.dropbtn{
  background-color: green;
  border: none;
  padding: 8px 16px;
  color:white;
}
.dropdown{
  position: relative;
  top: 20px;
  left: 40px;
}
.dropContent{
  display: none;
  position: absolute;
  background-color:#f9f9f9;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(1,0,0,0.2);
}
.dropContent a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px  16px;

}
.dropContent a:hover{
  background-color: red;
  color:white;
}
.dropdown:hover .dropContent{
  display: block;
}
